<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
  
    <servlet-name>reportml</servlet-name>
    <servlet-class>fusm.reportml.reportMLServlet</servlet-class>
    
    <init-param>
      <param-name>directorio-reportes</param-name>
      <param-value>c:\reportml\</param-value>
    </init-param>       
    
    <load-on-startup>1</load-on-startup>
    
  </servlet>
  
  <servlet-mapping>
    
    <servlet-name>reportml</servlet-name>
    
    <url-pattern>*.rml</url-pattern>
    
  </servlet-mapping>
</web-app>
